DISCORD_TOKEN=
DB_URL=jdbc:mysql://mysql:3306/gymprofit_bot?sslMode=DISABLED&allowPublicKeyRetrieval=true&useUnicode=true&characterEncoding=UTF-8
DB_USER=
DB_PASSWORD=
GYMPROFIT_API_URL=
BOT_SERVICE_USER=
BOT_SERVICE_PASSWORD=
BOT_CRYPTO_KEY=
PORT=8080
TZ=Europe/Madrid
